{{! search }}
<div class='container-fluid'>

  {{! info top row }}
  <div id='info' class='row'>
    <div class='col-md-12'>
      <div class='col-md-5 pull-left'>
        <div class='tag'>
          {{#if q}}
            Current search: <strong>{{q}}</strong>
            <span class='ember-power-select-clear-btn search-clear-btn' {{action 'clearSearch'}}>×</span>
          {{else}}
            No active search - all grants in view
          {{/if}}
        </div>
      </div>
      <div class='col-md-7 pull-right'>
        <div class='col-md-3'>
          {{data-stat
            descriptor='Grant Count'
            resultFormat='cleanNum'
            params=grantCountParams
            resource='grants'
          }}
        </div>
        <div class='col-md-3'>
          {{data-stat
            descriptor='Sum Cost'
            resultFormat='currency'
            params=sumCostParams
            resource='grants'
          }}
        </div>
        <div class='col-md-3'>
          {{data-stat
            descriptor='Avg Cost'
            resultFormat='currency'
            params=avgCostParams
            resource='grants'
          }}
        </div>
        <div class='col-md-3'>
          {{data-stat
            descriptor='Cost Std. Dev.'
            resultFormat='currency'
            params=stdCostParams
            resource='grants'
          }}
        </div>
      </div>
    </div>
  </div>

  {{! table and filters section }}
  <div class='row'>

    {{! outlet for child routes: TABLE & VIZ }}
    <div class='col-md-9'>
      {{outlet}}
    </div>

    {{! filters }}
    <div id='filter' class='col-md-3'>
      <div class='row text-center'><strong>Filters</strong></div>

      {{! flex filter }}
      {{#each filterProps as |filter|}}
        <div class='row'>
          <div class='col-md-12'>
            <h5>{{filter.filterTitle}}</h5>
            {{data-filter
              resource=filter.resource
              filterAttr=filter.filterAttr
              placeholder=filter.placeholder
              currentParams=filter.currentParams
              selectedValue=filter.selectedValue
              changeAction=(action 'filterSelection' filter.filterAttr)
              itemFormat=filter.itemFormat
            }}
          </div>
        </div>
      {{/each}}

      {{! view switch buttons }}
      <div class='row text-center current-view'>
        {{!--
        <div class='title'><strong>Current View</strong></div>
        <div class='col-md-12 item'>
          {{#bs-button-group}}
            {{#bs-button class='paginationButton' disabled=isSearchIndexRoute type='primary' size='xs' action='changeRoute' value='table'}}Data Table{{/bs-button}}
            {{#bs-button class='paginationButton' disabled=(not isSearchIndexRoute) type='primary' size='xs' action='changeRoute' value='viz'}}Data Viz (beta){{/bs-button}}
          {{/bs-button-group}}
        </div>
        --}}
        <br>{{#bs-button class='paginationButton' type='primary' size='xs' action='showFilterModal'}}Edit Filters{{/bs-button}}
      </div>
    </div>

  </div>
</div>

{{search-filter-modal
  isShowingModal=isShowingFilterModal
  filterState=baseFilterSet
  toggleFilter='toggleActivation'
}}
