{{! search }}
<div class='container-fluid'>

  {{! info top row }}
  <div id='info' class='row'>
    <div class='col-md-12'>
      <div class='col-md-5 pull-left'>
        <div class='tag'>
          {{#if q}}
            Current search: <strong>{{q}}</strong>
            <span class='ember-power-select-clear-btn search-clear-btn' {{action 'clearSearch'}}>×</span>
          {{else}}
            No active search - all grants in view
          {{/if}}
        </div>
      </div>
      <div class='col-md-7 pull-right'>
        <div class='col-md-3'>
          {{data-stat
            descriptor='Grant Count'
            resultFormat='cleanNum'
            params=grantCountParams
            resource='grants'
          }}
        </div>
        <div class='col-md-3'>
          {{data-stat
            descriptor='Sum Cost'
            resultFormat='currency'
            params=sumCostParams
            resource='grants'
          }}
        </div>
        <div class='col-md-3'>
          {{data-stat
            descriptor='Avg Cost'
            resultFormat='currency'
            params=avgCostParams
            resource='grants'
          }}
        </div>
        <div class='col-md-3'>
          {{data-stat
            descriptor='Cost Std. Dev.'
            resultFormat='currency'
            params=stdCostParams
            resource='grants'
          }}
        </div>
      </div>
    </div>
  </div>

  {{! table and filters section }}
  <div class='row'>

    {{! outlet for child routes: TABLE & VIZ }}
    <div class='col-md-9'>
      {{outlet}}
    </div>

    {{! filters }}
    <div id='filter' class='col-md-3'>
      <div class='row text-center'><strong>Filters</strong></div>
      {{! filter fundingMechanism}}
      <div class='row'>
        <div class='col-md-12'>
          <h5>Funding Mechanism</h5>
          {{data-filter
            resource='grants'
            filterAttr='fundingMechanism'
            placeholder='Select funding mechanism'
            currentParams=aggParamBase
            selectedValue=fundingMechanism
            changeAction=(action 'filterSelection' 'fundingMechanism')
          }}
        </div>
      </div>
      {{! filter activity }}
      <div class='row'>
        <div class='col-md-12'>
          <h5>Activity Code</h5>
          {{data-filter
            resource='grants'
            filterAttr='activity'
            placeholder='Select activity code'
            currentParams=aggParamBase
            selectedValue=activity
            changeAction=(action 'filterSelection' 'activity')
            itemFormat='upper'
          }}
        </div>
      </div>
      {{! filter icName }}
      <div class='row'>
        <div class='col-md-12'>
          <h5>Administering I/C</h5>
          {{data-filter
            resource='grants'
            filterAttr='icName'
            placeholder='Select I/C'
            currentParams=aggParamBase
            selectedValue=icName
            changeAction=(action 'filterSelection' 'icName')
          }}
        </div>
      </div>
      {{! filter orgCountry }}
      <div class='row'>
        <div class='col-md-12'>
          <h5>Organization Country</h5>
          {{data-filter
            resource='grants'
            filterAttr='orgCountry'
            placeholder='Select organization country'
            currentParams=aggParamBase
            selectedValue=orgCountry
            changeAction=(action 'filterSelection' 'orgCountry')
          }}
        </div>
      </div>
      {{! filter nihSpendingCats }}
      <div class='row'>
        <div class='col-md-12'>
          <h5>NIH Spending Categories (RCDC)</h5>
          {{data-filter
            resource='grants'
            filterAttr='nihSpendingCats'
            placeholder='Select an RCDC code'
            currentParams=aggParamBase
            selectedValue=nihSpendingCats
            changeAction=(action 'filterSelection' 'nihSpendingCats')
          }}
        </div>
      </div>
      {{! view switch buttons }}
      <div class='row text-center current-view'>
        <div class='title'><strong>Current View</strong></div>
        <div class='col-md-12 item'>
          {{#bs-button-group}}
            {{#bs-button class='paginationButton' disabled=isSearchIndexRoute type='primary' size='xs' action='changeRoute' value='table'}}Data Table{{/bs-button}}
            {{#bs-button class='paginationButton' disabled=(not isSearchIndexRoute) type='primary' size='xs' action='changeRoute' value='viz'}}Data Viz (beta){{/bs-button}}
          {{/bs-button-group}}
        </div>
      </div>
    </div>

  </div>
</div>
