{{! search }}
<div class='container-fluid'>

  {{! info top row }}
  <div id='info' class='row'>
    <div class='col-md-12'>
      <div class='pull-left'><strong class='text-success'>Search: {{q}}</strong></div>
      <div class='pull-right'><strong class='text-info'>Results: {{format-item meta.count 'cleanNum'}}</strong></div>
    </div>
  </div>

  <div class='row'>

    {{! table }}
    <div id='table' class='col-md-9'>
      <table class='table table-hover'>
        <thead>
          <th>Project Title</th>
          <th>Organization</th>
          <th>Admin IC</th>
          <th>Mechanism</th>
          <th>Activity</th>
          <th>Duration</th>
          <th>Awarded</th>
          <th>Cost</th>
          <th>Publications</th>
        </thead>
        <tbody>
          {{#each model.grants as |m|}}
            <tr>
              <td>{{m.projectTitle}}</td>
              <td>{{format-item m.orgName 'title'}}</td>
              <td>{{format-item m.icName 'title'}}</td>
              <td>{{format-item m.fundingMechanism 'title'}}</td>
              <td>{{m.activity}}</td>
              <td>{{m.supportYear}}Yr</td>
              <td>{{moment-format m.awardNoticeDate 'MM/DD/YY'}}</td>
              <td>{{format-item m.totalCost 'currency'}}</td>
              <td>{{m.pubCount}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    {{! filter }}
    <div id='filter' class='col-md-3'>
      <div class='row text-center'><strong>Filters</strong></div>
      
      <div class='row'>
        <div class='col-md-12'>
          <h5>Funding Mechanism</h5>
          {{#power-select
            allowClear=true
            dropdownClass="slide-fade"
            options=model.fundingMechanisms
            placeholder='Select funding mechanisms'
            selected=(find-by model.fundingMechanisms 'id' fundingMechanism)
            onchange=(action 'filterSelection' 'fundingMechanism')
            as |mech|
          }}
            <strong>{{format-item mech.id 'title'}} <span class='badge'>{{format-item mech.value 'cleanNum'}}</span></strong>
          {{/power-select}}
        </div>
      </div>

      <div class='row'>
        <div class='col-md-12'>
          <h5>Administrative IC</h5>
          {{#power-select
            allowClear=true
            dropdownClass="slide-fade"
            options=model.icNames
            placeholder='Select funding mechanisms'
            selected=(find-by model.icNames 'id' icName)
            onchange=(action 'filterSelection' 'icName')
            as |ic|
          }}
            <strong>{{format-item ic.id 'title'}} <span class='badge'>{{format-item ic.value 'cleanNum'}}</span></strong>
          {{/power-select}}
        </div>
      </div>

      <div class='row'>
        <div class='col-md-12'>
          <h5>Activity</h5>
          {{#power-select
            allowClear=true
            dropdownClass="slide-fade"
            options=model.activities
            placeholder='Select activity code'
            selected=(find-by model.activities 'id' activity)
            onchange=(action 'filterSelection' 'activity')
            as |activity|
          }}
            <strong>{{activity.id}} <span class='badge'>{{format-item activity.value 'cleanNum'}}</span></strong>
          {{/power-select}}
        </div>
      </div>

    </div>

  </div>
</div>
