{{! search }}
<div class='container-fluid'>

  {{! info top row }}
  <div id='info' class='row'>
    <div class='col-xs-12'>
      {{! current search button }}
      <div class='col-xs-5 pull-left'>
        <div class='tag'>
          {{#if q}}
            Current search: <strong>{{q}}</strong>
            <span class='ember-power-select-clear-btn search-clear-btn' {{action (toggle 'q' this null)}}>×</span>
          {{else}}
            No active search - all grants in view
          {{/if}}
        </div>
      </div>
      {{! data stats }}
      <div class='col-xs-7 pull-right'>
        <div class='col-xs-3'>
          {{data-stat
            descriptor='Grant Count'
            resultFormat='cleanNum'
            params=grantCountParams
            resource='grants'
          }}
        </div>
        <div class='col-xs-3'>
          {{data-stat
            descriptor='Sum Cost'
            resultFormat='currency'
            params=sumCostParams
            resource='grants'
          }}
        </div>
        <div class='col-xs-3'>
          {{data-stat
            descriptor='Avg Cost'
            resultFormat='currency'
            params=avgCostParams
            resource='grants'
          }}
        </div>
        <div class='col-xs-3'>
          {{data-stat
            descriptor='Cost Std. Dev.'
            resultFormat='currency'
            params=stdCostParams
            resource='grants'
          }}
        </div>
      </div>
    </div>
  </div>

  {{! table and filters section }}
  <div class='row'>

    {{! outlet for child routes: TABLE & VIZ }}
    <div class='col-xs-9'>
      {{outlet}}
    </div>

    {{! filters }}
    <div id='filter' class='col-xs-3'>
      <div class='row text-center'>
        <strong>Filters</strong>
      </div>

      {{! flex filter }}
      {{#each filterProps as |filter|}}
        {{data-filter
          properties=filter
          chooseItem=(action 'filterSelection' filter.filterAttr)
        }}
      {{/each}}

      {{! view switch buttons }}
      <div class='row text-center current-view'>
        <div class='col-xs-12 item'>
          {{#bs-button-group}}
            {{#bs-button class='paginationButton' type='primary' size='xs' action=(toggle 'isShowingFilterModal' this)}}Edit Filters{{/bs-button}}
            {{#bs-button class='paginationButton' type='primary' size='xs' action=(toggle 'isShowingCreateCollectionsModal' this)}}Create Collection{{/bs-button}}
          {{/bs-button-group}}
        </div>
      </div>

    </div>

  </div>
</div>

{{search-filter-modal
  isShowingModal=isShowingFilterModal
  filterState=baseFilterSet
  toggleFilter=(action 'toggleActivation')
}}

{{create-collections-modal
  isShowingModal=isShowingCreateCollectionsModal
  storeCollection=(action 'createCollection')
}}
