{{! search }}
<div class='container-fluid'>

  {{! info top row }}
  <div id='info' class='row'>
    <div class='col-md-12'>
      <div class='col-md-5 pull-left'>
        <div class='tag'>
          {{#if q}}
            Current search: <strong>{{q}}</strong>
          {{else}}
            all grants in view
          {{/if}}
        </div>
      </div>
      <div class='col-md-7 pull-right'>
        <div class='col-md-3'>
          {{data-stat
            descriptor='Grant Count'
            resultFormat='cleanNum'
            params=grantCountParams
          }}
        </div>
        <div class='col-md-3'>
          {{data-stat
            descriptor='Sum Cost'
            resultFormat='currency'
            params=sumCostParams
          }}
        </div>
        <div class='col-md-3'>
          {{data-stat
            descriptor='Avg Cost'
            resultFormat='currency'
            params=avgCostParams
          }}
        </div>
        <div class='col-md-3'>
          {{data-stat
            descriptor='Cost Std. Dev.'
            resultFormat='currency'
            params=stdCostParams
          }}
        </div>
      </div>
    </div>
  </div>

  {{! table and filters section }}
  <div class='row'>

    {{! outlet for child routes }}
    <div class='col-md-9'>
      {{outlet}}
    </div>

    {{! filters }}
    <div id='filter' class='col-md-3'>
      <div class='row text-center'><strong>Filters</strong></div>
      {{! funding mech filter }}
      <div class='row'>
        <div class='col-md-12'>
          <h5>Funding Mechanism</h5>
          {{#power-select
            allowClear=true
            dropdownClass="slide-fade"
            options=model.fundingMechanisms
            placeholder='Select funding mechanisms'
            selected=(find-by model.fundingMechanisms 'id' fundingMechanism)
            onchange=(action 'filterSelection' 'fundingMechanism')
            as |mech|
          }}
            {{format-item mech.id 'title'}} <span class='badge'>{{format-item mech.value 'cleanNum'}}</span>
          {{/power-select}}
        </div>
      </div>
      {{! admin ic filter }}
      <div class='row'>
        <div class='col-md-12'>
          <h5>Administrative IC</h5>
          {{#power-select
            allowClear=true
            dropdownClass="slide-fade"
            options=model.icNames
            placeholder='Select funding mechanisms'
            selected=(find-by model.icNames 'id' icName)
            onchange=(action 'filterSelection' 'icName')
            as |ic|
          }}
            {{format-item ic.id 'title'}} <span class='badge'>{{format-item ic.value 'cleanNum'}}</span>
          {{/power-select}}
        </div>
      </div>
      {{! activity filter }}
      <div class='row'>
        <div class='col-md-12'>
          <h5>Activity</h5>
          {{#power-select
            allowClear=true
            dropdownClass="slide-fade"
            options=model.activities
            placeholder='Select activity code'
            selected=(find-by model.activities 'id' activity)
            onchange=(action 'filterSelection' 'activity')
            as |activity|
          }}
            {{activity.id}} <span class='badge'>{{format-item activity.value 'cleanNum'}}</span>
          {{/power-select}}
        </div>
      </div>
      {{! country filter }}
      <div class='row'>
        <div class='col-md-12'>
          <h5>Organization Country</h5>
          {{#power-select
            allowClear=true
            dropdownClass="slide-fade"
            options=model.countries
            placeholder='Select organization country'
            selected=(find-by model.countries 'id' orgCountry)
            onchange=(action 'filterSelection' 'orgCountry')
            as |orgCountry|
          }}
            {{format-item orgCountry.id 'title'}} <span class='badge'>{{format-item orgCountry.value 'cleanNum'}}</span>
          {{/power-select}}
        </div>
      </div>
      {{! view switch buttons }}
      <div class='row text-center current-view'>
        <div class='title'><strong>Current View</strong></div>
        <div class='col-md-12 item'>
          {{#bs-button-group}}
            {{#bs-button class='paginationButton' disabled=isSearchIndexRoute type='primary' size='xs' action='changeRoute' value='table'}}Data Table{{/bs-button}}
            {{#bs-button class='paginationButton' disabled=(not isSearchIndexRoute) type='primary' size='xs' action='changeRoute' value='viz'}}Data Viz (beta){{/bs-button}}
          {{/bs-button-group}}
        </div>
      </div>
    </div>

  </div>
</div>
