{{! data-stat }}
<div class='text-center'>
  <div class='data-stat-val'>
    {{#if isLoading}}
      {{fa-icon 'spinner' spin=true}} {{loadingMessage}}
    {{else}}
      {{#if statVal}}
        {{format-item statVal resultFormat}}
      {{else}}
        -
      {{/if}}
    {{/if}}
  </div>
  <div class='data-stat-desc'>
    {{descriptor}}
  </div>
</div>
