{{! collections-table-modal}}
{{#bs-modal open=isShowingModal size='sm' header=false body=false footer=false}}
  {{#bs-modal-header}}
    <div class='modal-title modalTitle'>Collection Details: {{collectionData.name}}</div>
  {{/bs-modal-header}}
  {{#bs-modal-body}}
    <div class='collections-table-modal container-fluid'>
      {{! collection creation criteria }}
      <div class='modalSectionTitle'>Collection Creation Criteria</div>
      <div class='well well-sm'>
        <div class='row row-meta'>
          {{#each clxnFilterKeys as |filterKey|}}
            <div class='col-xs-8'>
              <small><strong>{{filterKey}}</strong>: {{format-item (get clxnFilters filterKey) 'upper'}}</small>
            </div>
          {{else}}
            <div class='col-xs-8'>
              <em>No filters available on this collection.</em>
            </div>
          {{/each}}
        </div>
      </div>
      {{! visualizations }}
      <div class='modalSectionTitle'>Visualization</div>
      <div class='well well-sm'>
        <em>Data visualizations will exist here.</em>
      </div>
      {{! notes }}
      <div class='modalSectionTitle'>Notes</div>
      <div class='notesArea'>
        <div class='notes-textarea'>
          {{#bs-form size='xs' autofocus=false}}
            {{bs-form-element
              autofocus=false
              controlType='text'
              placeholder=notesPlaceholder
              label='Notes'
              invisibleLabel=true
              value=notes
              autofocus=true
              required=true
              action=(action 'saveNote' notes)
            }}
          {{/bs-form}}
        </div>
        <div class='pull-right'>
          {{#bs-button
            type='primary'
            size='xs'
            disabled=(not notes)
            action=(action 'saveNote' notes)
            }}
            Save notes
          {{/bs-button}}
        </div>
      </div>
    </div>
  {{/bs-modal-body}}
{{/bs-modal}}
