{{! collections }}
<div class='container-fluid'>

  {{! info top row }}
  <div id='collection-info' class='row'>
    <div class='col-xs-12'>
      <div class='col-xs-5 pull-left'>
        {{#bs-button size='xs' type='primary' class='clearBtn'}}
          Create new from batch {{fa-icon 'fa-plus-circle'}}
          {{#tooltip-on-element class='custom-popover' side='bottom'}}Coming soon{{/tooltip-on-element}}
        {{/bs-button}}
      </div>
      <div class='col-xs-7 pull-right text-right'>
        <div class='action-link'>Compare{{#tooltip-on-element class='custom-popover' side='bottom'}}Coming soon{{/tooltip-on-element}}</div> |
        <div class='action-link'>Group{{#tooltip-on-element class='custom-popover' side='bottom'}}Coming soon{{/tooltip-on-element}}</div> |
        <div class='action-link'>Combine{{#tooltip-on-element class='custom-popover' side='bottom'}}Coming soon{{/tooltip-on-element}}</div> |
        <div class='action-link'>Export{{#tooltip-on-element class='custom-popover' side='bottom'}}Coming soon{{/tooltip-on-element}}</div> |
        <div class='action-link'>Delete{{#tooltip-on-element class='custom-popover' side='bottom'}}Coming soon{{/tooltip-on-element}}</div>
      </div>
    </div>
  </div>

  {{! table }}
  <div class='row'>
    <div class='col-xs-12'>
      {{#if model}}
        {{collections-table
          collections=model
          viewCollection=(route-action 'viewCollection')
          editCollection=(route-action 'editCollection')
          exportCollection=(route-action 'exportCollection')
          deleteCollection=(route-action 'deleteCollection')
		  toggleModal=(action (toggle 'isShowingModal' this))
        }}
		{{clxn-delve-modal
			isShowingModal=isShowingModal
		}}

		{{!clxn-delve-modal
		  isShowingModal=isShowingModal
		  clxnObject=clxnObject

		  see search-table-modal for how to pass object from one compoennt to another
		  in particular, action selectGrant in search-table/template and its corresponding search/index/template
		}}
      {{else}}
        <div class='col-xs-8 col-xs-offset-2 text-center'>
          <em>No collections created yet.</em>
          <p>Create a collection in the <strong>{{link-to 'search view' 'search'}}</strong> if you'd like to store profiles of grant sets.</p>
        </div>
      {{/if}}
    </div>
  </div>
</div>
